Package      : inist-tools
Version      : 0.9.8
Section      : base
Priority     : optional
Architecture : all
Depends      : bash, make, shunit2, parallel
Maintainer   : Stanislas PERRIN <stanislas.perrin@inist.fr> / INIST-CNRS/DPI
Description  : Outils de gestion du poste GNU/Linux dans l'environnement INIST. [v0.9.8] 
Homepage     : http://www.inist.fr/
