Package: inist-tools
Version: 0.5.0
Section: base
Priority: optional
Architecture: all
Depends: bash
Maintainer: Stanislas PERRIN <stanislas.perrin@inist.fr> / INIST-CNRS/DPI
Description: Outils de gestion du poste GNU/Linux dans l'environnement INIST.
Homepage: http://www.inist.fr/
