#!/usr/bin/env bash
################################################################################
#
# inist-tools / libs / autocomplete.rc
# 
# Autocomplétion pour inist-tools
#
# @author : INIST-CNRS/DPI
#
################################################################################

_inist () {                 
  local cur
  COMPREPLY=()
  cur=${COMP_WORDS[COMP_CWORD]}

  case "$cur" in


    a*)
      COMPREPLY=( $( compgen -W 'apt' -- $cur ) )
    ;;

    b*)
      COMPREPLY=( $( compgen -W 'bower' -- $cur ) )
    ;;

    c*)
      COMPREPLY=( $( compgen -W 'curl' -- $cur ) )
    ;;

    d*)
      COMPREPLY=( $( compgen -W 'desktop docker ' -- $cur ) )
    ;;

    e*)
      COMPREPLY=( $( compgen -W 'env' -- $cur ) )
    ;;

    g*)
      COMPREPLY=( $( compgen -W 'github gnome gource' -- $cur ) )
    ;;

    k*)
      COMPREPLY=( $( compgen -W 'kde' -- $cur ) )
    ;;

    n*)
      COMPREPLY=( $( compgen -W 'npm ntp' -- $cur ) )
    ;;

    p*)
      COMPREPLY=( $( compgen -W 'postfix' -- $cur ) )
    ;;

    s*)
      COMPREPLY=( $( compgen -W 'shell st status' -- $cur ) )
    ;;
    
    u*)
      COMPREPLY=( $( compgen -W 'unity' -- $cur ) )
    ;;

    w*)
      COMPREPLY=( $( compgen -W 'wget' -- $cur ) )
    ;;

    x*)
      COMPREPLY=( $( compgen -W 'xfce' -- $cur ) )
    ;;
  
    -*)
      COMPREPLY=( $( compgen -W '-h --help -i --info -r --reload -s --status  -v --version' --proxy=adsl --proxy=inist -- $cur ) )
    ;;

    *)
      COMPREPLY=( $( compgen -W 'apt bower curl docker env github gnome kde npm postfix shell unity wget xfce --help --info --reload --status --version --proxy=adsl --proxy=inist ' -- $cur ) )
    ;;
    
  esac

  return $TRUE
}

complete -F _inist inist
