#!/usr/bin/env bash
################################################################################
#
# inist-tools / libs / bower.rc
# 
# Bibliothèque de fonctions de configuration de bower pour le proxy INIST
#
# @author : INIST-CNRS/DPI
#
################################################################################

BOWERRC="$HOME/.bowerrc"
TMPJSON="/tmp/tmpjson"

function _it_bower_proxy {
  # Check si bower est installé
  if ! _it_std_check_command "bower" ; then
    return $FALSE
  fi

  case "$1" in
  
    on)
      # Vérifier si cet état n'est pas celui en cours
      if _it_std_checkAction "bower" $TRUE ; then
        # Cherche le .bowerrc
        if [ -f "$BOWERRC" ]; then # .bowerrc existe
          # faire un backup de l'existant avant de le modifier
          _it_std_backup "$BOWERRC"
        else # .bowerrc n'existe pas
          # créer le .bowerrc dans le home de l'utilisateur et y positionner les
          # variables de proxy
          BOWERRC="$HOME/.bowerrc"
          touch "$BOWERRC"
          jq -n '{comment: "Fichier créé par inist-tools. Ne pas supprimer."}' > "$BOWERRC"
        fi
        # modifier le .bowerrc
        jq --arg inist_http_proxy "$INIST_HTTP_PROXY" '.proxy = $inist_http_proxy' "$BOWERRC" > "$TMPJSON" && cp "$TMPJSON" "$BOWERRC"
        jq --arg inist_https_proxy "$INIST_HTTPS_PROXY" '.["https-proxy"] = $inist_https_proxy' "$BOWERRC" > "$TMPJSON" && cp "$TMPJSON" "$BOWERRC"
        
        #
        _it_std_setAction "bower" $TRUE
      fi
    ;;
    
    off)
      # Vérifier si cet état n'est pas celui en cours
      if _it_std_checkAction "bower" $FALSE ; then

        # Cherche le .bowerrc et n'agit que si .bowerrc existe
        if [ -f "$BOWERRC" ]; then # .bowerrc existe
          jq 'del(.proxy)' "$BOWERRC" > "$TMPJSON" && cp "$TMPJSON" "$BOWERRC"
          jq 'del(.["https-proxy"])' "$BOWERRC" > "$TMPJSON" && cp "$TMPJSON" "$BOWERRC"

          # On vérifie qu'on a effectivement bien modifié la conf...
          testBowerProxy=$(cat "$BOWERRC" | grep -i "proxyout")
          
          if [ ! -z "$testBowerProxy" ]; then
            _it_std_consoleMessage "ERROR" "Impossible de supprimer la configuration proxy INIST de « $BOWERRC »"
            return $FALSE
          else
            #
            _it_std_setAction "bower" $FALSE
          fi
        else
          _it_std_consoleMessage "ERROR" "Il semblerait qu'il n'existe pas de fichier .bowerrc"
          return $FALSE
        fi
      fi
    ;;
    
    help)
      _it_std_consoleMessage "HELP" "Configure bower pour le proxy INIST"
    ;;
    
    status)
      _it_std_getStatus "bower"
    ;;

    *)
      _it_std_consoleMessage "WARNING" "Commande « $1 » non prise en charge"
    ;;
  
  esac
}
