#!/usr/bin/env bash
################################################################################
#
# inist-tools / libs / docker.rc
# 
# Bibliothèque de fonctions de configuration de docker pour le proxy INIST
#
# @author : INIST-CNRS/DPI
#
################################################################################

# ------------------------------------------------------------------------------
# DOCKER
# ------------------------------------------------------------------------------
function _it_docker_proxy {
  # Check si docker est installé
  if ! _it_std_check_command "docker" ; then
    return $FALSE
  fi

  case "$1" in
  
    on)
      # Vérifier si cet état n'est pas celui en cours
      if _it_std_checkAction "docker" $TRUE ; then
        SUDO /opt/inist-tools/tools/docker-proxy-on.sh
        # Si la commande précédente a réussi...
        if [ $? -eq 0 ]; then
          _it_std_setAction "docker" $TRUE
        else
          _it_std_consoleMessage "ERROR" "La configuration de Docker pour le proxy INIST a échoué"
        fi
      fi
    ;;
    
    off)
      # Vérifier si cet état n'est pas celui en cours
      if _it_std_checkAction "docker" $FALSE ; then
        SUDO /opt/inist-tools/tools/docker-proxy-off.sh
        # Si la commande précédente a réussi...
        if [ $? -eq 0 ]; then
          _it_std_setAction "docker" $FALSE
        else
          _it_std_consoleMessage "ERROR" "La déconfiguration de Docker pour le proxy INIST a échoué"
        fi
      fi
    ;;
    
    help)
      _it_std_consoleMessage "HELP" "Configure docker pour le proxy INIST"
    ;;
    
    status)
      _it_std_getStatus "docker"
    ;;

    *)
      _it_std_consoleMessage "WARNING" "Commande « $1 » non prise en charge"
    ;;
  
  esac
}
