#!/usr/bin/env bash
################################################################################
#
# inist-tools / libs / docker.rc
# 
# Bibliothèque de fonctions de configuration de docker pour le proxy INIST
#
# @author : INIST-CNRS/DPI
#
################################################################################

# ------------------------------------------------------------------------------
# DOCKER :: configuration du proxy
# ------------------------------------------------------------------------------
function _it_docker_proxy {
  
  # Si c'est la commande d'installation, on détourne immédiatement vers la
  # fonction kivabien...
  if [ "$1" == "install" ]; then
    _it_docker_install
    return $TRUE
  fi

  case "$1" in
  
    on)
      # Check si docker est installé
      if ! _it_std_check_command "docker" ; then
        return $FALSE
      fi
      # Vérifier si cet état n'est pas celui en cours
      if _it_std_checkAction "docker" $TRUE ; then
        $SUDO /opt/inist-tools/tools/docker-registry-on.sh
        $SUDO /opt/inist-tools/tools/docker-proxy-on.sh
        # Si la commande précédente a réussi...
        if [ $? -eq 0 ]; then
          _it_std_setAction "docker" $TRUE
        else
          _it_std_consoleMessage "ERROR" "La configuration de Docker pour le proxy INIST a échoué"
        fi
      fi
    ;;
    
    off)
      # Check si docker est installé
      if ! _it_std_check_command "docker" ; then
        return $FALSE
      fi
      # Vérifier si cet état n'est pas celui en cours
      if _it_std_checkAction "docker" $FALSE ; then
        $SUDO /opt/inist-tools/tools/docker-registry-off.sh
        $SUDO /opt/inist-tools/tools/docker-proxy-off.sh
        # Si la commande précédente a réussi...
        if [ $? -eq 0 ]; then
          _it_std_setAction "docker" $FALSE
        else
          _it_std_consoleMessage "ERROR" "La déconfiguration de Docker pour le proxy INIST a échoué"
        fi
      fi
    ;;
    
    help)
      _it_std_consoleMessage "HELP" "Configure docker pour le proxy INIST"
    ;;
    
    status)
      _it_std_getStatus "docker"
    ;;

    *)
      if [ -z "$1" ]; then
        commande="commande vide"
      else
        commande="$1"
      fi
      _it_std_consoleMessage "WARNING" "Commande « $commande » non prise en charge. Essayez on | off | help | status."
    ;;
  
  esac
}


# ------------------------------------------------------------------------------
# DOCKER :: installation
# ------------------------------------------------------------------------------
function _it_docker_install {
  # Vérifier si Docker n'est pas déjà installé...
  local isDocker=$(which docker)
  _it_std_consoleMessage "ACTION" "Installation de docker..."
  if [ ! -z $isDocker ]; then
    _it_std_consoleMessage "NOK" "docker est déjà installé."
    return $FALSE
  else
    _it_std_consoleMessage "Ok" "docker ne semble pas présent sur ce système. Installation..."
    $SUDO /opt/inist-tools/tools/docker-install.sh
  fi

}
