################################################################################
#
# INIST-TOOLS / inist-proxy.rc
# 
# Fonctions spécifiques au proxy INIST dans l'environnement utilisateur
# Cette bibliothèque est à sourcer directement dans le .bashrc de l'utilisateur
# pour rendre ses fonctions disponibles de manière globale.
#
# @author : INIST-CNRS/DPI
#
################################################################################

#-------------------------------------------------------------------------------
# Variables Globales
#-------------------------------------------------------------------------------


#-------------------------------------------------------------------------------
# Positionne les variables d'environnement pour le proxy INIST
#-------------------------------------------------------------------------------
function _it_inistProxy {

  case "$1" in
  
    on)
      if _it_std_checkAction "shell" $TRUE ; then
        # Exclusion du proxy
        export no_proxy="localhost,127.0.0.0/8,*.local,172.16.0.0/16"
        export NO_PROXY="localhost,127.0.0.0/8,*.local,172.16.0.0/16"
        # HTTP
        export http_proxy="http://proxyout.inist.fr:8080"
        export HTTP_PROXY="http://proxyout.inist.fr:8080"
        # HTTPS
        export https_proxy="http://proxyout.inist.fr:8080"
        export HTTPS_PROXY="http://proxyout.inist.fr:8080"
        # FTP
        export ftp_proxy="http://proxyout.inist.fr:8080"
        export FTP_PROXY="http://proxyout.inist.fr:8080"
        #
        _it_std_setAction "shell" $TRUE
      fi
      
    ;;
    
    off)
      if _it_std_checkAction "shell" $FALSE ; then
        unset "no_proxy"
        unset "http_proxy"
        unset "https_proxy"
        unset "ftp_proxy"
        unset "NO_PROXY"
        unset "HTTP_PROXY"
        unset "HTTPS_PROXY"
        unset "FTP_PROXY"
        #
        _it_std_setAction "shell" $FALSE
      fi
    ;;

    defaultOn)
      # Exclusion du proxy
      export no_proxy="localhost,127.0.0.0/8,*.local,172.16.0.0/16"
      export NO_PROXY="localhost,127.0.0.0/8,*.local,172.16.0.0/16"
      # HTTP
      export http_proxy="http://proxyout.inist.fr:8080"
      export HTTP_PROXY="http://proxyout.inist.fr:8080"
      # HTTPS
      export https_proxy="http://proxyout.inist.fr:8080"
      export HTTPS_PROXY="http://proxyout.inist.fr:8080"
      # FTP
      export ftp_proxy="http://proxyout.inist.fr:8080"
      export FTP_PROXY="http://proxyout.inist.fr:8080"
    ;;

    defaultOff)
      unset "no_proxy"
      unset "http_proxy"
      unset "https_proxy"
      unset "ftp_proxy"
      unset "NO_PROXY"
      unset "HTTP_PROXY"
      unset "HTTPS_PROXY"
      unset "FTP_PROXY"
    ;;
    
    help)
      _it_std_consoleMessage "HELP" "Configure le système et les shells pour le proxy INIST"
    ;;
    
    status)
      _it_std_getStatus "shell"
    ;;
    
    *)
      _it_std_consoleMessage "WARNING" "Commande « $1 » non prise en charge. Essayez on|off|help|status."
    ;;
    
  esac
  
  # On affiche le résultat dans l'environnement
  # envProxy=$(env | grep -i "proxy" | sort)
  # printf "$envProxy\n"
}

