#!/usr/bin/env bash
################################################################################
#
# inist-tools / libs / mail.rc
# 
# Bibliothèque de fonctions de configuration des divers applicatifs mail
#
# @author : INIST-CNRS/DPI
#
################################################################################

# ------------------------------------------------------------------------------
#
# ------------------------------------------------------------------------------
function _it_mail_postfix {

  # Vérifier si postfix a été installé ET paramétré
  if [ ! -f /etc/postfix/main.cf ]; then
    _it_std_consoleMessage "ERROR" "Postfix ne semble pas être correctement configuré sur votre machine. Essayez 'sudo dpkg-reconfigure postfix'."
    _it_std_consoleMessage "WARNING" "Penser à demander à la DSI l'autorisation de l'adresse ip de sa machine ($HOST_IP_ADDRESS) sur smtpout.intra.inist.fr."
    return $FALSE
  fi

  case "$1" in
   
    on)
      # Vérifier si cet état n'est pas celui en cours
      if _it_std_checkAction "postfix" $TRUE ; then
        $SUDO postconf -e "relayhost=smtpout.intra.inist.fr"
        $SUDO /opt/inist-tools/tools/service-restart.sh "postfix" &
      fi
    ;;
    
    off)
      # Vérifier si cet état n'est pas celui en cours
      if _it_std_checkAction "postfix" $FALSE ; then
        $SUDO postconf -X "relayhost"
        $SUDO /opt/inist-tools/tools/service-restart.sh "postfix" &
      fi
    ;;
    
    help)
      _it_std_consoleMessage "HELP" "Configure postfix comme relay de smtpout.intra.inist.fr"
    ;;
    
    status)
      _it_std_getStatus "postfix"
    ;;

    *)
      _it_std_consoleMessage "WARNING" "Commande « $1 » non prise en charge"
    ;;
    
  esac
}
