#!/usr/bin/env bash
################################################################################
#
# inist-tools / libs / mail.rc
# 
# Bibliothèque de fonctions de configuration des divers applicatifs mail
#
# @author : INIST-CNRS/DPI
#
################################################################################

# ------------------------------------------------------------------------------
#
# ------------------------------------------------------------------------------
function _it_postfix {
  
}
