#!/usr/bin/env bash
################################################################################
#
# inist-tools / libs / desktop.rc
# 
# Bibliothèque de fonctions de configuration des divers applicatifs
# Debian/Ubuntu hors browsers et environnements de bureau
#
# @author : INIST-CNRS/DPI
#
################################################################################

# ------------------------------------------------------------------------------
# Variables globales
# ------------------------------------------------------------------------------
APT_PROXIES_FILE="/etc/apt/apt.conf.d/95proxies"

# ------------------------------------------------------------------------------
# APT
# ------------------------------------------------------------------------------
function _it_misc_apt_proxy {
  if [ -f "$APT_PROXIES_FILE"] {
    rm "$APT_PROXIES_FILE"
  }

  case "$1" in
    on)
      if [ -f "$APT_PROXIES_FILE" ]; then
        _it_misc_apt_proxy "off"
      fi
      touch "$APT_PROXIES_FILE"
      echo "Acquire::http::proxy $INIST_HTTP_PROXY" >> "$APT_PROXIES_FILE";
      echo "Acquire::https::proxy $INIST_HTTPS_PROXY" >> "$APT_PROXIES_FILE";
      echo "Acquire::ftp::proxy $INIST_FTP_PROXY" >> "$APT_PROXIES_FILE";
    ;;
    off)
      rm "$APT_PROXIES_FILE"
    ;;
    help)
    ;;
  esac
}

# ------------------------------------------------------------------------------
# INFOS
# ------------------------------------------------------------------------------
function _it_misc_info {
  # Type de plateforme (Ubuntu ? Debian ? Autre ?)
  if cat /etc/issue | grep -i "debian" ; then
    HOST_SYSTEM_LINUX="debian"
  elif cat /etc/issue | grep -i "ubuntu"; then
    HOST_SYSTEM_LINUX="ubuntu"
  else
    HOST_SYSTEM="autre"
  fi
  # Version Linux
  HOST_SYSTEM_VERSION=$(uname -mrs)
}
